body{
    width: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    margin-left: 400px;
}

.Game{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
}